<section class="section">
    <div class="columns is-variable">
        <div class="column is-4">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="../uploads/{{0.image.filename}}" class="item-image" alt="placeholder image" />
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <h2 class="subtitle is-5 has-text-grey">{{format_time
                                0.createdAt
                                }}</h2>
                            <h1 class="title has-text-black is-3"><a href="/post/{{0._id}}">{{0.title}}</a>
                            </h1>
                        </div>
                    </div>
                    <div class="content">
                        <p class="has-text-dark">{{format_summary 0.content}}</p>
                        <br />
                    </div>
                </div>
            </div>
        </div>
        {{#if 1.title}}
        <div class="column is-4">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="../uploads/{{1.image.filename}}" class="item-image" alt="placeholder image" />
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <h2 class="subtitle is-5 has-text-grey">{{format_time
                                1.createdAt
                                }}</h2>
                            <h1 class="title has-text-black is-3"><a href="/post/{{1._id}}">{{1.title}}</a>
                            </h1>
                        </div>
                    </div>
                    <div class="content">
                        <p class="has-text-dark">{{format_summary 1.content}}</p>
                        <br />
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
        {{#if 2.title}}
        <div class="column is-4">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="../uploads/{{2.image.filename}}" class="item-image" alt="placeholder image" />
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <h2 class="subtitle is-5 has-text-grey">{{format_time
                                2.createdAt
                                }}</h2>
                            <h1 class="title has-text-black is-3"><a href="/post/{{2._id}}">{{2.title}}</a>
                            </h1>
                        </div>
                    </div>
                    <div class="content">
                        <p class="has-text-dark">{{format_summary 2.content}}</p>
                        <br />
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
</section>