<section class="hero has-background-grey-lighter">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-8 is-offset-2">
                    <form class="box">
                        <label class="label is-large" class="label">Create New
                            Report</label>
                        {{!-- title --}}
                        <div class="field is-horizontal">
                            <div class="field-label  is-normal">
                                <label class="label">Title</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input class="input subject-input" type="text" placeholder="Text input"
                                            required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- status --}}
                        <div class="field is-horizontal">
                            <div class="field-label">
                                <label class="label">Status</label>
                            </div>
                            <div class="field-body">
                                <div class="field is-narrow">
                                    <div class="control">
                                        <label class="radio">
                                            <input class="form-check-input" type="radio" name="lostOrFound"
                                                id="gridRadios2" value="lost" checked>
                                            Lost
                                        </label>
                                        <label class="radio">
                                            <input class="form-check-input" type="radio" name="lostOrFound"
                                                id="gridRadios2" value="found">
                                            Found
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- category --}}
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Category</label>
                            </div>
                            <div class="field-body">
                                <div class="field is-narrow">
                                    <div class="control">
                                        <div class="select is-fullwidth">
                                            <select id="category">
                                                <option value="Electonics">Electonics</option>
                                                <option value="Clothing">Clothing</option>
                                                <option value="Accessories">Accessories</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- date --}}
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Date</label>
                            </div>
                            <div class="field-body">
                                <div class="field is-narrow">
                                    <div class="control">
                                        <input class="input" id="date" type="date" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- location --}}
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Location</label>
                            </div>
                            <div class="field-body">
                                <div class="field is-narrow">
                                    <div class="control">
                                        <div class="select is-fullwidth">
                                            <select id="location">
                                                <option value="Gateway South">Gateway South</option>
                                                <option value="Gateway North">Gateway North</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- content --}}
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Description</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <textarea class="textarea content-input"
                                            placeholder="Please describe the item and specific situation (maximum 2000 characters) "
                                            required></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- file --}}
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Upload photo</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input class="input" id="upload" type="file" accept=".jpg" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-grouped is-grouped-right mt-3">
                            <button class="button is-success submit-post">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hero has-background-grey-lighter hug">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column">
                    <form class="box">
                        <table id="table" class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                            <thead>
                                <tr>
                                    <th class="table-id">ID</th>
                                    <th class="table-title">Title</th>
                                    <th class="table-author">Author</th>
                                    <th class="table-created">Created</th>
                                    <th class="table-edit">Edit</th>
                                    <th class="table-delete">Delete</th>
                                </tr>
                            </thead>

                            <tbody>
                                {{#each posts}}
                                <tr>
                                    <td>{{this._id}}</td>
                                    <td><a href="/post/{{this._id}}">{{this.title}}</a></td>
                                    <td>{{this.author}}</td>
                                    <td>{{format_time this.createdAt}}</td>
                                    <td><a href="/edit/{{this._id}}">Edit</a></td>
                                    <td><a class="delete-post" data-id="{{this._id}}">Delete</a></td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/js/dashboard.js"></script>