<!-- Image -->

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <div class="box">
            <h1 class="title">Found-item List for Seekers</h1>
            <div class="tabs is-boxed">
              <ul>
                <li class="is-active">
                  <a>
                    <span>Hottest</span>
                  </a>
                </li>
                <li>
                  <a>
                    <span>Latest</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <section class="section">
        <div class="columns">
          <div class="column is-8 is-offset-2">
            <div class="content is-medium">
              <h2 class="subtitle is-4">{{format_time posts.0.0.createdAt}}</h2>
              <h1 class="title"><a href="/post/{{posts.0.0._id}}">{{posts.0.0.title}}</a></h1>
              <h6>by {{posts.0.0.author}}</h6>
              <p>{{posts.0.0.content}}</p>
            </div>
          </div>
        </div>
      </section>
      <div class="is-divider"></div>
    </div>
  </div>
</section>
<!-- Articles -->
<section class="hero">
  <div class="hero-body-neg">
    <div class="container">
      {{#each posts as |post|}}
      {{#if @first}}
      <!-- Don't post 1st one because it goes up top -->
      {{else}}
      {{> post-summary}}
      {{/if}}
      {{/each}}
    </div>
  </div>
</section>
<script src='/js/index.js'></script>