<!DOCTYPE html>
<html>

<head>
    <title>{{username}}'s Profile</title>
</head>

<body>
    <h1>{{username}}'s Profile</h1>
    <img src="{{image}}" alt="{{username}}'s profile image" onerror="this.src='path/to/default-image.jpg';">
    <p>Email: {{email}}</p>
    <p>Phone: {{phoneNumber}}</p>

    <h2>Friends</h2>
    <ul>
        {{#each friends}}
        <li>{{this.name}}</li>
        {{/each}}
    </ul>

    <form action="/users/{{_id}}/profile" method="POST" enctype="multipart/form-data">
        <input type="text" name="username" value="{{username}}" required>
        <input type="email" name="email" value="{{email}}" required>
        <input type="file" name="image">
        <button type="submit">Update</button>
    </form>
</body>

</html>