<!-- Image -->

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <section class="section">
                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        <h1 class="title">Item List Service</h1>
                        <div class="tabs is-right is-toggle">
                            <ul>
                                <li><a href="/service"><i class="fas fa-fire icon2"></i>Hottest</a></li>
                                <li class="is-active"><a href="#"><i class="fas fa-clock icon2"></i>Latest</a></li>
                            </ul>
                        </div>
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-16by9">
                                    <img src="https://bulma.io/assets/images/placeholders/1280x960.png"
                                        alt="Placeholder image" />
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <h2 class="subtitle is-5 has-text-grey">{{format_time
                                            posts.0.0.createdAt
                                            }}</h2>
                                        <h1 class="title has-text-black is-3"><a
                                                href="/post/{{posts.0.0._id}}">{{posts.0.0.title}}</a></h1>
                                    </div>
                                </div>
                                <div class="content">
                                    <p class="has-text-dark">{{format_summary posts.0.0.content}}</p>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="is-divider"></div>
        </div>
    </div>
</section>
<!-- Articles -->
<section class="hero">
    <div class="hero-body-neg">
        <div class="container">
            {{#each posts as |post|}}
            {{#if @first}}
            <!-- Don't post 1st one because it goes up top -->
            {{else}}
            {{> post-summary}}
            {{/if}}
            {{/each}}
        </div>
    </div>
</section>
<script src='/js/service.js'></script>